body {
    background-color: #f8f9fa;
}

.form-container {
    padding: 50px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}
